Equal Weights Strategy

In [14]:
import pandas as pd 
import numpy as np
import yfinance as yf
import math

In [15]:
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

In [16]:
def fetch_market_cap(ticker_list):
    data=yf.download(ticker_list,period='1d',group_by='ticker',auto_adjust='False')
    stocks_data=[]
    for ticker in ticker_list:
        latest_price =data[ticker]['Close'].iloc[-1]
        market_cap=yf.Ticker(ticker).info.get("marketCap","N/A")
        stocks_data.append({
            "Ticker":ticker,
            "Market Cap":market_cap,
            "Latest Price":latest_price,
        })
    stocks_df=pd.DataFrame(stocks_data)
    return stocks_df
tickers_list=tickers['Ticker'].values.tolist()
df=fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  18366307762176   1357.199951
1        TCS.NS  11160722079744   3084.699951
2   HDFCBANK.NS  14610866372608    951.599976
3       INFY.NS   6091888918528   1469.599976
4  ICICIBANK.NS   9981578444800   1397.800049

In [17]:
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  18366307762176   1357.199951
1          TCS.NS  11160722079744   3084.699951
2     HDFCBANK.NS  14610866372608    951.599976
3         INFY.NS   6091888918528   1469.599976
4    ICICIBANK.NS   9981578444800   1397.800049
5   HINDUNILVR.NS   6249918234624   2659.800049
6         SBIN.NS   7407572353024    802.500000
7   BAJFINANCE.NS   5453546258432    877.849976
8   BHARTIARTL.NS  11329098219520   1888.800049
9          ITC.NS   5132815171584    409.750000
10   KOTAKBANK.NS   3897703792640   1960.300049
11    ADANIENT.NS   2590787764224   2244.699951
12          LT.NS   4952671387648   3601.000000
13     HCLTECH.NS   3941504122880   1454.800049
14  ASIANPAINT.NS   2414236925952   2518.600098
15    AXISBANK.NS   3243704844288   1045.199951
16   SUNPHARMA.NS   3825731633152   1594.500000
17       WIPRO.NS   2611671990272    249.410004
18  ULTRACEMCO.NS   3718093733888  12640.000000
19    HDFCLIFE.NS   1664115277824    772.049988
20        ONGC.NS   2941263806464    233.710007
21        NTPC.NS   3176144044032    327.549988
22   POWERGRID.NS   2560920387584    275.250000
23  TATAMOTORS.NS   2463271485440    669.000000
24  INDUSINDBK.NS    576126648320    739.500000
25  ADANIGREEN.NS   1504698957824    913.500000
26       TITAN.NS   3218908905472   3628.800049
27    DIVISLAB.NS   1627723137024   6131.500000
28       TECHM.NS   1311090933760   1481.400024
29      MARUTI.NS   4650334945280  14791.000000
30   COALINDIA.NS   2309791154176    374.799988
31        BPCL.NS   1337128779776    308.200012
32    JSWSTEEL.NS   2505129590784   1026.599976
33     DRREDDY.NS   1051316518912   1260.099976
34  BAJAJFINSV.NS   3054424293376   1913.500000
35  ADANIPORTS.NS   2837341536256   1312.800049
36       CIPLA.NS   1284046061568   1589.400024
37   BRITANNIA.NS   1403380170752   5824.000000
38     HAVELLS.NS    958531371008   1525.599976
39    SHREECEM.NS   1056262520832  29275.000000
40      GRASIM.NS   1883391787008   2775.600098
41   TATASTEEL.NS   1926643580928    154.479996
42  HEROMOTOCO.NS   1017886015488   5087.700195
43         M&M.NS   3893823537152   3199.500000
44   EICHERMOT.NS   1673918676992   6103.000000
45         IOC.NS   1881475907584    136.619995
46     SBICARD.NS    765422141440    803.500000
47  PIDILITIND.NS   1551593111552   3050.300049
48       DMART.NS   3094625910784   4755.600098
49     HDFCAMC.NS   1168748838912   5463.000000

In [18]:
df=df.sort_values(by="Market Cap",ascending=False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  18366307762176   1357.199951
2     HDFCBANK.NS  14610866372608    951.599976
8   BHARTIARTL.NS  11329098219520   1888.800049
1          TCS.NS  11160722079744   3084.699951
4    ICICIBANK.NS   9981578444800   1397.800049
6         SBIN.NS   7407572353024    802.500000
5   HINDUNILVR.NS   6249918234624   2659.800049
3         INFY.NS   6091888918528   1469.599976
7   BAJFINANCE.NS   5453546258432    877.849976
9          ITC.NS   5132815171584    409.750000
12          LT.NS   4952671387648   3601.000000
29      MARUTI.NS   4650334945280  14791.000000
13     HCLTECH.NS   3941504122880   1454.800049
10   KOTAKBANK.NS   3897703792640   1960.300049
43         M&M.NS   3893823537152   3199.500000
16   SUNPHARMA.NS   3825731633152   1594.500000
18  ULTRACEMCO.NS   3718093733888  12640.000000
15    AXISBANK.NS   3243704844288   1045.199951
26       TITAN.NS   3218908905472   3628.800049
21        NTPC.NS   3176144044032    327.549988
48       DMART.NS   3094625910784   4755.600098
34  BAJAJFINSV.NS   3054424293376   1913.500000
20        ONGC.NS   2941263806464    233.710007
35  ADANIPORTS.NS   2837341536256   1312.800049
17       WIPRO.NS   2611671990272    249.410004
11    ADANIENT.NS   2590787764224   2244.699951
22   POWERGRID.NS   2560920387584    275.250000
32    JSWSTEEL.NS   2505129590784   1026.599976
23  TATAMOTORS.NS   2463271485440    669.000000
14  ASIANPAINT.NS   2414236925952   2518.600098
30   COALINDIA.NS   2309791154176    374.799988
41   TATASTEEL.NS   1926643580928    154.479996
40      GRASIM.NS   1883391787008   2775.600098
45         IOC.NS   1881475907584    136.619995
44   EICHERMOT.NS   1673918676992   6103.000000
19    HDFCLIFE.NS   1664115277824    772.049988
27    DIVISLAB.NS   1627723137024   6131.500000
47  PIDILITIND.NS   1551593111552   3050.300049
25  ADANIGREEN.NS   1504698957824    913.500000
37   BRITANNIA.NS   1403380170752   5824.000000
31        BPCL.NS   1337128779776    308.200012
28       TECHM.NS   1311090933760   1481.400024
36       CIPLA.NS   1284046061568   1589.400024
49     HDFCAMC.NS   1168748838912   5463.000000
39    SHREECEM.NS   1056262520832  29275.000000
33     DRREDDY.NS   1051316518912   1260.099976
42  HEROMOTOCO.NS   1017886015488   5087.700195
38     HAVELLS.NS    958531371008   1525.599976
46     SBICARD.NS    765422141440    803.500000
24  INDUSINDBK.NS    576126648320    739.500000

## Taking top 10 Stocks as per the market cap

In [19]:
df = df.head(10)
df.reset_index(inplace=True,drop=True)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  18366307762176   1357.199951
1    HDFCBANK.NS  14610866372608    951.599976
2  BHARTIARTL.NS  11329098219520   1888.800049
3         TCS.NS  11160722079744   3084.699951
4   ICICIBANK.NS   9981578444800   1397.800049
5        SBIN.NS   7407572353024    802.500000
6  HINDUNILVR.NS   6249918234624   2659.800049
7        INFY.NS   6091888918528   1469.599976
8  BAJFINANCE.NS   5453546258432    877.849976
9         ITC.NS   5132815171584    409.750000

In [20]:
portfolio_size=int(input("Enter the amount you want to invest: "))
position_size=portfolio_size/len(df.index)
position_size

10000.0

In [21]:
df['Number of shares to buy']=df['Latest Price'].apply(lambda price:math.floor(position_size/price))
df

C:\Users\tapas\AppData\Local\Temp\ipykernel_3260\1949811851.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of shares to buy']=df['Latest Price'].apply(lambda price:math.floor(position_size/price))

          Ticker      Market Cap  Latest Price  Number of shares to buy
0    RELIANCE.NS  18366307762176   1357.199951                        7
1    HDFCBANK.NS  14610866372608    951.599976                       10
2  BHARTIARTL.NS  11329098219520   1888.800049                        5
3         TCS.NS  11160722079744   3084.699951                        3
4   ICICIBANK.NS   9981578444800   1397.800049                        7
5        SBIN.NS   7407572353024    802.500000                       12
6  HINDUNILVR.NS   6249918234624   2659.800049                        3
7        INFY.NS   6091888918528   1469.599976                        6
8  BAJFINANCE.NS   5453546258432    877.849976                       11
9         ITC.NS   5132815171584    409.750000                       24